<!-- Filters -->
<label for="material">Material:</label>
<select id="material">
    <option value="all">All</option>
    <option value="steel">Steel</option>
    <option value="plastic">Plastic</option>
    <option value="glass">Glass</option>
    <option value="silicone">Silicone</option>
</select>

<label for="consumer">Consumer Type:</label>
<select id="consumer">
    <option value="all">All</option>
    <option value="adults">Adults</option>
    <option value="children">Children</option>
</select>

<label for="size">Size:</label>
<select id="size">
    <option value="all">All</option>
    <option value="500ml">500ml</option>
    <option value="750ml">750ml</option>
    <option value="1L">1L</option>
    <option value="18oz">18oz</option>
    <option value="24oz">24oz</option>
    <option value="32oz">32oz</option>
    <option value="40oz">40oz</option>
    <option value="1.5L">1.5L</option>
    <option value="2L">2L</option>
</select>

<label for="color">Color:</label>
<select id="color">
    <option value="all">All</option>
    <option value="blue">Blue</option>
    <option value="black">Black</option>
    <option value="white">White</option>
    <option value="red">Red</option>
    <option value="green">Green</option>
    <option value="pink">Pink</option>
    <option value="silver">Silver</option>
    <option value="amber">Amber</option>
    <option value="clear">Clear</option>
    <option value="beige">Beige</option>
    <option value="yellow">Yellow</option>
    <option value="purple">Purple</option>
    <option value="frosted glass">Frosted Glass</option>
    <option value="light gray">Light Gray</option>
    <option value="navy blue">Navy Blue</option>
    <option value="teal">Teal</option>
</select>

<!-- Product List -->
<div class="container mt-4">
    <div class="row" id="product-list"></div>
</div>