<!-- Our story Section -->
<div class="container-fluid d-flex justify-content-center align-items-center text-center p-5"
    style="background-color: #ffffff; color: rgb(5, 5, 5); min-height: 60vh;">
    <div class="w-75">
        <h2 class="fw-bold mb-3">Welcome to Refill&Chill !</h2>
        <p class="lead">We are passionate and dedicated to eliminating plastic and creating a sustainable future.
            Our mission is to provide an alternative solution to single-use plastic bottles and make it easier for
            people everywhere to choose an eco-friendly option.</p>

        <p>We believe that small actions can have a big impact. That’s why we have designed our water bottles to be
            reusable, durable, and stylish. By using our bottles, you contribute to reducing the amount of plastic
            waste that ends up in our oceans and pollutes our environment.</p>

        <p>Our water bottles are made from high-quality materials that are safe for both you and the planet. They
            are free from harmful chemicals, and we have implemented innovative technologies to ensure that our
            bottles keep your drinks cold for longer and are easy to clean.</p>

        <p class="fw-bold">Together, we can make a difference. By choosing our water bottles, you help reduce
            plastic consumption and move towards a more sustainable future. Join us, and let’s eliminate plastic one
            water bottle at a time!</p>
    </div>
</div>